<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>소속</th>
                <th>직위</th>
                <th>참고사항</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.organization}"></td>
                    <td th:text="${person.position}"></td>
                    <td th:text="${person.remark}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>